---
import { Table, TableRow } from '@noodlestan/designer-shows/astro';

type Props = {
    domain?: string;
};

const { domain } = Astro.props;

const types = [
    {
        name: 'SpaceValue',
        type: 'space-value',
        component: 'ShowSpaceValue',
        value: 'ShowSpaceValue',
    },
    {
        name: 'SpaceScale',
        type: 'space-scale',
        component: 'ShowSpaceScale',
        value: 'ShowSpaceValue',
    },
    {
        name: 'ColorValue',
        type: 'color-value',
        component: 'ShowColorValue',
        value: 'ShowColorValue',
    },
    {
        name: 'ColorSet',
        type: 'color-set',
        component: 'ShowColorSet',
        value: 'ShowColorValue',
    },
    {
        name: 'Oklab Hue Value',
        type: 'color-oklab-hue-value',
        component: 'ShowOklabHueValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'Oklab Hue Set',
        type: 'color-oklab-hue-set',
        component: 'ShowOklabHueSet',
        value: 'ShowColorChannel',
    },
    {
        name: 'Oklab Chroma Value',
        type: 'color-oklab-chroma-value',
        component: 'ShowOklabChromaValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'Oklab Chroma Scale',
        type: 'color-oklab-chroma-scale',
        component: 'ShowOklabChromaScale',
        value: 'ShowColorChannel',
    },
    {
        name: 'Oklab Lightness Value',
        type: 'color-oklab-lightness-value',
        component: 'ShowOklabLightnessValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'Oklab Lightness Scale',
        type: 'color-oklab-lightness-scale',
        component: 'ShowOklabLightnessScale',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Hue Value',
        type: 'color-srgb-hue-value',
        component: 'ShowsRGBHueValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Hue Set',
        type: 'color-srgb-hue-set',
        component: 'ShowsRGBHueSet',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Saturation Value',
        type: 'color-srgb-saturation-value',
        component: 'ShowsRGBSaturationValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Saturation Scale',
        type: 'color-srgb-saturation-scale',
        component: 'ShowsRGBSaturationScale',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Lightness Value',
        type: 'color-srgb-lightness-value',
        component: 'ShowsRGBLightnessValue',
        value: 'ShowColorChannel',
    },
    {
        name: 'sRGB Lightness Scale ',
        type: 'color-srgb-lightness-scale ',
        component: 'ShowsRGBLightnessScale',
        value: 'ShowColorChannel',
    },
];

const items = domain ? types.filter(({ type }) => type.startsWith(domain)) : types;
---

<Table columns={['Decision Type', 'Component', 'Value Component']} vpad>
    {
        items.map(({ name, type, component, value }) => (
            <TableRow>
                <td>
                    <a href={`/decision-models/${type}`}>{name}</a>
                </td>
                <td>
                    <code>&lt;{component} /&gt;</code>
                </td>
                <td>
                    <a href={`/components/Astro/Composable/Values#${value}`}>{value}</a>
                </td>
            </TableRow>
        ))
    }
</Table>
