---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { DECISION_TYPE_METAS } from '@noodlestan/designer-decisions';

import { href } from '../../../mdx';

const domains = DECISION_TYPE_METAS.reduce((acc, item) => {
    acc.add(item.domain);
    return acc;
}, new Set<string>());

const capitalize = (str: string): string => {
    return str.charAt(0).toUpperCase() + str.substring(1)
}

const frontmatter = {title: 'Decision Types'}
const headings = Array.from(domains).map(domain => ({
    depth: 2,
    slug: domain,
    text: domain
}))
---

<StarlightPage frontmatter={frontmatter} headings={headings}>
{
    Array.from(domains.values()).map(domain => (
            <h2>{capitalize(domain)}</h2>
            <ul>
                {DECISION_TYPE_METAS
                    .filter(type => type.domain === domain)
                    .map(type => (
                        <li>
                            <a href={href(`/models/decision-types/${type.type}`)}>
                                {type.name}
                            </a>
                        </li>
                    ))}
            </ul>
    ))
}
</StarlightPage>
